﻿body {
  background-color: hsl(154, 50%, 30%);
  font-family: sans-serif;
  font-size: 1.25rem;
}

h1 {
  color: white;
  text-align: left;
  text-shadow: black 5px 5px;
  text-transform: uppercase;
}

p {
  text-align: justify;
}

p.intro {
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
 
 border: solid 10px;
 border-radius:20px;
 width:600px;
 background-color:white;
 
}

p.estilo-1 {
  margin-right: 50%;
  padding: 10px;
  border: solid 15px;
 border-top-left-radius:20px;
 border-bottom-left-radius:20px;
 width:700px;
 background-color:#993300;
 border-color:#800000;
 color:white;	
 /* outline: 100px solid blue;
 outline: 2px solid red;
    outline-offset: -2px;*/

}

p.estilo-2 {
  margin-left: 50%;
  padding: 5px;
  
 border: solid 15px #994411;
 border-top-right-radius:20px;
 border-bottom-right-radius:20px;
 width:700px;
 background-color:#887700;
 color:white;	


}

p.estilo-3 {
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  
 border:5px #0099CC dashed;
 width:700px;
 background-color:#003399;
 color:white;	


}

