﻿body {
  background-color: hsl(154, 50%, 30%);
  font-family: sans-serif;
  font-size: 1.25rem;
}

h1 {
  color: white;
  text-align: left;
  text-shadow: black 5px 5px;
  text-transform: uppercase;
}

p {
  text-align: justify;
}

p.intro {
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;

}

p.estilo-1 {
  margin-right: 50%;
  padding: 10px;

}

p.estilo-2 {
  margin-left: 50%;
  padding: 5px;

}

p.estilo-3 {
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;

}
