﻿body{
	width:50%;
	font-size:15px;
	font-family:calibri-light;
	text-align:justify;
}


h1#titulo {
	color:teal;
}

p strong{
	
	color:red;
	
	
}

p span{
	
	color:orange;
	
}
h2#subtitulo{
	
	color:blue;
	
	
}
p a{
	
	color:red;
	
	
}
p a em{
	
	color:#3366FF;
	
	
}
span.especial{
	
	color:#9900FF;
	
	
}

table,th,td{
	
	border: 2px solid black;
	text-align:çenter;
	border-collapse: collapse;

	
	
}
table caption{
	
	color:#3366FF;	
	
}
table .especial{
	
	
	color:orange;
}
table strong{
	
	
	color:orange;
}

td{
	
	color:#00CC99;
}
th{
	
	color:#FF0000;
}
#adicional,#adicional span{
	color:olive;
}
span#especial{
	color:#CC00CC;
	
}

#adicional a {
	
	color:#009933;
}
span#adicional {
	
	color:#999966;
;
}




