﻿

table{
	width:600px;
	border:2px dotted blue;
	color:white;
	font-weight:bold;
	font-size:30px;
}

tr:nth-child(even) { 
	background-color: teal;
	color:lime;

}
    
tr:nth-child(odd) { 
	background-color:red;
	color:white;

}
