﻿body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

h1 {
  border: solid 5px black;
  text-align: center;
  text-transform: uppercase;
}

p {
  text-align: justify;
}
p.a{
border-width:15px;
  border-color: red white white red; 
  border-style:double;	
}
p.b{
  border-top-width: 5px; 
  border-bottom-width:20px;
  border-left-width:20px;
  border-right-width:10px;
  border-color: blue green blue green; 
  border-style:dashed; 	
}

