﻿

table td:nth-child(1)  {


	background-color:blue;	
}

table td:nth-child(2) {


	background-color:green;	
}


table td:nth-child(3) {


	background-color:yellow;	
}
table td:nth-child(4) {

	background-color:red;	
}

/*
td{
	
	background-color:yellow
}

td + td {
	
	background-color:green;
}

td + td +td {
	
	background-color:blue;
}
td + td + td + td{
	
	background-color:red;
}*/